{% extends "account/_base.html" %}
{% load i18n static %}
{% block title %}
  {% translate "Redefinir senha" %}
{% endblock title %}
{% block card_header %}
  {% blocktrans %}
    Esqueceu sua senha? Digite seu endereço de e-mail abaixo e enviaremos um e-mail com instruções para redefinir sua senha.
  {% endblocktrans %}
{% endblock card_header %}
{% block card_body %}
  <form method="post" action="{% url 'account_reset_password' %}">
    {% csrf_token %}
    <div class="input-group mb-3">
      {{ form.email }}
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-envelope"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-primary btn-block">{% translate "Enviar" %}</button>
      </div>
    </div>
  </form>
{% endblock card_body %}
