{% extends "account/_base.html" %}
{% load i18n static %}
{% block title %}
  {% translate "Redefinir senha" %}
{% endblock title %}
{% block card_header %}
  {% if token_fail %}
    {% blocktranslate %}
      Token inválido
    {% endblocktranslate %}
  {% else %}
    {% blocktranslate %}
      Redefina sua senha
    {% endblocktranslate %}
  {% endif %}
{% endblock card_header %}
{% block card_body %}
  {% if token_fail %}
    <div class="mb-3 text-center">
      {% url 'account_reset_password' as passwd_reset_url %}
      {% blocktranslate %}
        O link de redefinição de senha é inválido, possivelmente porque já foi usado. Por favor, faça uma <a href="{{ passwd_reset_url }}">nova solicitação</a>.
      {% endblocktranslate %}
    </div>
  {% else %}
    <form method="post" action=".">
      {% csrf_token %}
      <div class="input-group mb-3">
        {{ form.password1 }}
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-lock"></span>
          </div>
        </div>
      </div>
      <div class="input-group mb-3">
        {{ form.password2 }}
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-lock"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-primary btn-block">{% translate "Alterar senha" %}</button>
        </div>
      </div>
    </form>
  {% endif %}
{% endblock card_body %}
