{% extends "account/_base.html" %}
{% load i18n static %}
{% block title %}
  {% translate "Alterar senha" %}
{% endblock title %}
{% block card_header %}
  {% blocktranslate %}
    Alterar senha
  {% endblocktranslate %}
{% endblock card_header %}
{% block card_body %}
  <form method="post" action=".">
    {% csrf_token %}
    <div class="input-group mb-3">
      {{ form.oldpassword }}
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-lock"></span>
        </div>
      </div>
    </div>
    <div class="input-group mb-3">
      {{ form.password1 }}
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-lock"></span>
        </div>
      </div>
    </div>
    <div class="input-group mb-3">
      {{ form.password2 }}
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-lock"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-primary btn-block">{% translate "Alterar senha" %}</button>
      </div>
    </div>
  </form>
{% endblock card_body %}
{% block card_footer %}
  <p class="mb-0 mt-3">
    <a href="{% url 'users:user_detail' user.pk %}">{% translate "Voltar para as configurações" %}</a>
  </p>
{% endblock card_footer %}
