{% extends "account/_base.html" %}
{% load i18n static %}
{% block title %}
  {% translate "Redefinir senha" %}
{% endblock title %}
{% block card_header %}
  <img src="{% static 'images/mail_sent.svg' %}"
       alt="mail_sent"
       height="55"
       width="" />
{% endblock card_header %}
{% block card_body %}
  <div class="text-center">
    {% blocktranslate %}
      Se o e-mail informado for válido, receberá um e-mail com instruções para redefinir sua senha. Caso não receba, verifique sua caixa de spam ou entre em contato conosco.
    {% endblocktranslate %}
  </div>
{% endblock card_body %}
