{% extends "recursos/_base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% block title %}
  Atualizar computador
{% endblock title %}
{% block page_name %}
  Atualizar {{ object }}
{% endblock page_name %}
{% block page_breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item active">Atualizar</li>
{% endblock page_breadcrumbs %}
{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header border-0">
          <div class="float-left">
            <a href="{% url 'recursos:computador_list' %}"
               class="btn btn-secondary btn-sm float-right">
              <i class="fas fa-arrow-left mr-1"></i> Voltar
            </a>
          </div>
        </div>
        <div class="card-body">
          <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-save mr-1"></i> Salvar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
