{% extends "users/_base.html" %}
{% load crispy_forms_tags %}
{% block title %}
  Atualizar perfil
{% endblock title %}
{% block page_name %}
  Atualizar perfil
{% endblock page_name %}
{% block page_breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item active">Atualizar perfil</li>
{% endblock page_breadcrumbs %}
{% block content %}
  <form method="post"
        enctype="multipart/form-data"
        action="{% url 'users:user_update' user.pk %}"
        novalidate>
    {% csrf_token %}
    <div class="row justify-content-center">
      <div class="card card-primary card-outline col-lg-6">
        <div class="card-body">
          {{ form_user|crispy }}
          {{ form_profile|crispy }}
        </div>
        <div class="card-footer">
          <div class="row justify-content-between">
            <a href="{% url 'users:user_detail' user.pk %}"
               class="btn btn-secondary">Voltar</a>
            <button type="submit" class="btn btn-primary">Atualizar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock content %}
